@import url("./__container/element__container.css");
@import url("./__image/element__image.css");
@import url("./__caption/element__caption.css");
@import url("./__like/element__like.css");
@import url('./__like/_active/element__like_active.css');
@import url('./__delete/element__delete.css');
@import url('./__like-container/element__like-container.css');
@import url('./__like-counter/element__like-counter.css');

.element {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}
