.popup__container {
    background-color: white;
    border-radius: 10px;
    width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-device-width: 767px) {
    .popup__container {
        width: 75%;
        max-width: 430px;
    }
}
